.productCard {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.productName {
  font-family: 'Montserrat', sans-serif;
  font-weight: 500; /* Medium */
  margin-bottom: 5px;
}

.productPrice {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400; /* Regular */
  margin-bottom: 5px;
}

.productImage {
  height: 250px;
  width: 250px; 
  object-fit: cover;
  border-radius: 20px;
  margin-bottom: 20px;
}

.popularityStars {
  display: flex;
  justify-content: center;
  align-items: center;
}

.iconFilled {
  color: #e6ca97;
  border: none;
}

.scoreText {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  margin-left: 10px;
}

.selectedColorName {
  font-family: 'Montserrat', sans-serif;
  font-weight: 100;
  margin-bottom: 10px;
}

@media (max-width: 600px) {
  .productCard {
    padding: 5px;
  }

  .productName {
    font-size: 6px;
    margin-bottom: 2px;
  }

  .productPrice {
    font-size: 6px;
    margin-bottom: 2px;
  }

  .productImage {
    height: 50px;
    width: 50px;
    border-radius: 5px;
    margin-bottom: 5px;
  }

  .scoreText {
    margin-left: 3px;
    font-size: 6px;
  }

  .selectedColorName {
    font-size: 6px;
  }

  .popularityStars .MuiRating-root {
    font-size: 0.2em !important;
  }
}