/* Carousel.module.css */

.carouselWrapper {
  position: relative;
  width: 100%;
  margin: 0 auto;
  padding: 20px 0;
}

.slider {
  margin-left: 150px;
  margin-top: 100px;
  margin-bottom: 100px;
  margin-right: 0px;
}

.loader {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
  margin-top: 150px;
}

.carouselItem {
  padding: 10px;
}


/* Custom Arrow Styles */
.prevArrow,
.nextArrow {
  position: absolute;
  top: 50%;
  transform: translateY(-300%);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  font-size: 50px;
  color: #D9D9D9;
  z-index: 2;
  border-width: 2px;
}

.prevArrow {
  left: 100px;
}

.nextArrow {
  right: 100px;
}

.scrollSlider {
  margin-top: 20px;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

/* Custom styles for the SliderComponent */
.customSlider {
  color: #d9d9d9;
  height: 20px;
}

.customSlider .MuiSlider-thumb {
  height: 20px;
  width: 100px;
  opacity: 1;
  background-color: #d9d9d9;
  border-radius: 10px;
}

.customSlider .MuiSlider-thumb:hover,
.customSlider .MuiSlider-thumb:focus,
.customSlider .MuiSlider-thumb:active {
  box-shadow: none; /* Disable focus effect */
}

.customSlider .MuiSlider-track {
  border: none;
}

.customSlider .MuiSlider-rail {
  opacity: 0.5;
  background-color: #d9d9d9;
}

/* Responsive Adjustments */
@media (max-width: 768px) {
  .prevArrow,
  .nextArrow {
    width: 40px;
    height: 40px;
    font-size: 20px;
  }

  .prevArrow {
    left: -20px;
  }

  .nextArrow {
    right: -20px;
  }
}

@media (max-width: 480px) {
  .prevArrow,
  .nextArrow {
    width: 35px;
    height: 35px;
    font-size: 18px;
  }

  .prevArrow {
    left: -15px;
  }

  .nextArrow {
    right: -15px;
  }
}